extends layout

block content
  h1 Welcome Home Admin !
  img(src='images/hi.gif', alt='1-C3PO')

  table
    each userObj in users
      tr
        td #{userObj.userID}
        td #{userObj.lastConnection}    

  p Fin de la liste des connexions
