extends layout

block content
  h1 Welcome Home Admin !
  img(src='images/hi.gif', alt='1-C3PO')

  each index in Object.keys(messages)
    p L'utilisateur #{index} s'est connecté le #{messages[index][messages[index].length-1].timeOfMessage} #{timeOfMessage}
    p ---------
  p Fin de la liste des connexions
