doctype html
html
  head
    title= 'title'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://www.gstatic.com/firebasejs/3.9.0/firebase.js')
    script(src='script/script.js')
  body
    block content
